@font-face {
  font-family: "game";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
}
body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #302b63;
  /* height: 10%; */
}
.logo {
  padding: 15px;
  font-size: x-large;
  color: aliceblue;
  background-color: #302b63;
}
.logo u{
  background-color: #302b63;
}
.logo a {
  text-decoration: none;
  color:aliceblue;
}
.nav-items {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-right: 15px;
  
}

.nav-items li  {
  list-style: none;
  background-color: #302b63;
  margin-top: 5px;
}
.nav-items li a {
  text-decoration: none;
  color:aliceblue;
  padding-block: 7px;
  padding-inline: 10px;
  background-color: #302b63;
  border-left: 1px solid aliceblue;
}
.nav-items li a:hover {
  opacity: 0.5;
}